@font-face{
    font-family: 'Neue Montreal';
    src: url('assets/fonts/NeueMontreal-Light.otf');
    font-weight: 100;
    font-style: normal;
}
@font-face{
    font-family: 'Neue Montreal';
    src: url('assets/fonts/NeueMontreal-LightItalic.otf');
    font-weight: 100;
    font-style: italic;
}
@font-face{
    font-family: 'Neue Montreal';
    src: url('assets/fonts/NeueMontreal-Regular.otf');
    font-weight: 200;
    font-style: normal;
}
@font-face{
    font-family: 'Neue Montreal';
    src: url('assets/fonts/NeueMontreal-Italic.otf');
    font-weight: 200;
    font-style: italic;
}
@font-face{
    font-family: 'Neue Montreal';
    src: url('assets/fonts/NeueMontreal-Medium.otf');
    font-weight: 300;
    font-style: normal;
}
@font-face{
    font-family: 'Neue Montreal';
    src: url('assets/fonts/NeueMontreal-MediumItalic.otf');
    font-weight: 300;
    font-style: italic;
}
@font-face{
    font-family: 'Neue Montreal';
    src: url('assets/fonts/NeueMontreal-Bold.otf');
    font-weight: 400;
    font-style: normal;
}
@font-face{
    font-family: 'Neue Montreal';
    src: url('assets/fonts/NeueMontreal-BoldItalic.otf');
    font-weight: 400;
    font-style: italic;
}
:root{
    color-scheme: light dark;
    --bg-color: #e6e6e6;
    --text-color: #0c0c0c;
    --link-color: #6681a7;
}
[data-theme="dark"]{
    --bg-color: #0c0c0c;
    --text-color: #e6e6e6;
    --link-color: #9bc3ff;
}
[data-theme="light"]{
    --bg-color: #e6e6e6;
    --text-color: #0c0c0c;
    --link-color: #6681a7;
}
*{  
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
::selection{
    background-color: #555;
    color: #e6e6e6;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: 'Neue Montreal';
    background-color: var(--bg-color);
    color: var(--text-color);
    border-color: var(--text-color);
    transition: background-color 200ms ease, color 200ms ease;
}
body.monospace{
    font-family: 'Monospace';
}
.loadingScreen {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: var(--bg-color);
  color: var(--text-color);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 1;
  transition: opacity 400ms ease-in-out;
  z-index: 20;
}
.loadingScreen.hide{
    opacity: 0;
    transition: opacity 400ms ease-in-out;
}
.loadingScreen h2{
    font-size: 2rem;
    font-weight: 200;
}
header{
    position: fixed;
    height: 2rem;
    top: 0;
    left: 2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    z-index: 10;
}
header span{
    height: fit-content;
    width: 1.5rem;
    border: 1px solid;
    border-color: var(--text-color);
    display: inline-flex;
    justify-content: center;
    align-items: center;
}
header a{
    text-transform: uppercase;
    cursor: pointer;
    font-size: .7rem;
    color: var(--text-color);
    text-decoration: none;
    font-weight: 200;
    background-color: var(--bg-color);
    padding: 4.5px;
    padding-right: 3.5px;
}
header a:hover{
    opacity: .6;
}
header a.active{
    filter: invert(100%);
}
main{
    margin: 2rem;
    margin-bottom: 0;
    padding: 2rem;
    min-height: calc(100vh - 4rem);
    height: max-content;
    border-top: 1px solid;
    border-left: 1px solid;
    border-right: 1px solid;
    border-color: var(--text-color);
    overflow-x: hidden;
}
.top{
    position: fixed;
    top: 0;
    width: 100%;
    height: 2rem;
    background-color: var(--bg-color);
    border-bottom: 1px solid;
    border-color: var(--text-color);
    z-index: 10;
}
.left{
    position: fixed;
    width: 2rem;
    top: 0;
    left: 0;
    height: 100vh;
    background-color: var(--bg-color);
    z-index: 10;
}
.right{
    position: fixed;
    width: 2rem;
    top: 0;
    right: 0;
    height: 100vh;
    background-color: var(--bg-color);
    z-index: 10;
}
.bg {
  position: fixed;
  top: -50%;
  left: -50%;
  right: -50%;
  bottom: -50%;
  width: 200%;
  height: 200vh;
  margin: 2rem;
  z-index: -1;
  background: transparent url('http://assets.iceable.com/img/noise-transparent.png') repeat 0 0;
  background-repeat: repeat;
  animation: bg-animation .2s infinite;
  opacity: .9;
  visibility: visible;
}
@keyframes bg-animation {
    0% { transform: translate(0,0) }
    10% { transform: translate(-5%,-5%) }
    20% { transform: translate(-10%,5%) }
    30% { transform: translate(5%,-10%) }
    40% { transform: translate(-5%,15%) }
    50% { transform: translate(-10%,5%) }
    60% { transform: translate(15%,0) }
    70% { transform: translate(0,10%) }
    80% { transform: translate(-15%,0) }
    90% { transform: translate(10%,5%) }
    100% { transform: translate(5%,0) }
}
li{
    list-style: none;
}
main h1{
    font-size: 3rem;
    font-weight: 100;
}
main h2{
    font-size: .8rem;
    font-weight: 200;
}
main h2:hover{
    opacity: 1;
}
.contact-info{
    display: flex;
    flex-direction: row;
    column-gap: 2rem;
    align-items: center;
    justify-content: left;
    font-weight: 100;
    font-size: .75rem;
    margin-top: 1rem;
}
.contact-info li{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 5px;
}
.contact-info i.fa-envelope{
    font-size: .8rem;
}
.contact-info i{
    font-size: 1rem;
}
.contact-info a{
    color: var(--link-color);
    transition: color 100ms ease-in-out;
}
.contact-info a:hover{
    color: #4b7abb;
    transition: color 100ms ease-in-out;
}
main .heading{
    margin-bottom: 1rem;
}
section{
    border-top: 1px solid;
    border-color: var(--text-color);
    display: flex;
    flex-direction: row;
    padding-top: 1rem;
}
section .title-container{
    display: block;
    width:30%;
}
main section h2{
    text-transform: capitalize;
    font-size: 1.2rem;
    font-weight: 300;
    height: fit-content;
    padding-bottom: 1rem;
    cursor: pointer;
    width: fit-content;
    opacity: 1;
    transition: opacity 200ms ease-in;
}
main section h2:hover{
    opacity: .4;
    transition: opacity 200ms ease-out;
}
section .section-content{
    width: 70%;
    flex-direction: column-reverse;
    row-gap: 1rem;
    display: flex;
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    transition: max-height 600ms ease-out, opacity 500ms ease;
}
section #projects-section.display{
    opacity: 1;
    max-height: 300vh;
    transition: max-height 600ms ease-in, opacity 200ms ease;   
}
section #work-section.display{
    opacity: 1;
    max-height: 300vh;
    transition: max-height 600ms ease-in, opacity 200ms ease;   
}
section #skills-section.display{
    opacity: 1;
    max-height: 300vh;
    transition: max-height 600ms ease-in, opacity 200ms ease;   
}
section #education-section.display{
    opacity: 1;
    max-height: 300vh;
    transition: max-height 600ms ease-in, opacity 200ms ease;   
}
section.subsection{
    border: none;
    padding: 0;
    display: flex;
    flex-direction: row;
    height: 15rem;
    padding-bottom: 2rem;
    border-bottom: 1px solid;
    border-color: var(--text-color);
}
section.text-section section.subsection{
    padding-bottom: 0;
    height: fit-content;
    max-height: 12rem;
}
section.text-section section.subsection:first-child{
    margin-bottom: 2rem;
}
section.subsection h3{
    text-transform: capitalize;
    font-size: 1.2rem;
    font-weight: 300;
    width: 25%;
    height: fit-content;
    opacity: 1;
    transition: opacity 200ms ease-in;
}
section.subsection h3:hover{
    opacity: .5;
    transition: opacity 200ms ease-out;
}
section.subsection .subsection-title{
    text-transform: capitalize;
    font-size: 1.2rem;
    font-weight: 300;
    width: 30%;
    display: flex;
    flex-direction: column;
    row-gap: .5rem;
}
section.subsection .subsection-title h3{
    width: 100%;
}
.subsection-title p{
    font-size: .9rem;
    opacity: .5;
}
section.subsection .subsection-list{
    display: flex;
    flex-direction: column;
    font-weight: 200;
    width: 70%;
    font-size: 1.2rem;
    flex-wrap: wrap;
}
.subsection-list li{
    padding-bottom: .5rem;
}
section.subsection .subsection-content{
    display: flex;
    flex-direction: row;
    border: 1px solid;
    border-color: var(--text-color);
    border-radius: 5px;
    width: 75%;
}
section.subsection:nth-child(1){
    border-bottom: none;
}
section.subsection:last-child{
    margin-bottom: 0;
}
section:last-child{
    margin-bottom: 1rem;
}
.subsection-content .img{
    height: 100%;
    width: 50%;
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    background-clip:border-box;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-right: 1px solid #c2c2c2;
    transition: all 200ms ease-in-out;
    filter: brightness(80%);
}
.subsection-content .subsection-content-desc{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
}
.subsection-content p{
    padding: 1rem;
    font-size: .9rem;
    font-weight: 200;
}
footer{
    position: fixed;
    bottom: 0;
    left: 0;
    width: calc(100% - 4rem);
    padding-top: .5rem;
    padding-bottom: .5rem;
    margin-left: 2rem;
    margin-right: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: var(--bg-color);
    border-top: 1px solid;
    border-color: var(--text-color);
}
footer .copyright{
    font-size: 0.8rem;
    opacity: .5;
}
footer .display-section button{
    font-family: 'Neue Montreal';
    text-transform: uppercase;
    font-weight: 300;
    font-size: 1rem;
    padding: 0.2rem;
    padding-left: 0.6rem;
    padding-right: 0.6rem;
    outline: none;
    height: 1.8rem;
    border: 1px solid #000;
    border-radius: 0;
    transition: all 1000 ease-in-out;
    cursor: pointer;
}
footer .display-section #light-mode{
    color: #000;
    background-color: #b1b1b1;
}
footer .display-section #light-mode:hover{
    background-color: #fff;
}
footer .display-section #light-mode.active{
    background-color: #fff;
}
footer .display-section #dark-mode{
    color: white;
    background-color: #474747;
}
footer .display-section #dark-mode:hover{
    background-color: #0D0D0D;
}
footer .display-section #dark-mode.active{
    background-color: #000;
}
footer .display-section #monospace{
    background-color: var(--bg-color);
    color: var(--text-color);
    font-family: monospace;
    font-weight: 600;
}
footer .display-section #monospace:hover{
    background-color: #888888;
}
footer .display-section #monospace.active{
    background-color: #fff;
    color: #000;
}
.contact-info-movil{
    display: none;
}
@media only screen and (max-width: 600px){
    .top{
        height: 2rem;
    }
    .left{
        width: 1rem;
    }
    .right{
        width: 1rem;
    }
    header{
        top: .5rem;
        left: 1rem;
        height: 1rem;
    }
    header span{
        width: 1.5rem;
    }
    main .heading{
        margin-bottom: .5rem;
    }
    main{
        padding: 1rem;
        margin: 1rem;
        margin-top: 2rem;
        min-height: calc(100vh - 2rem);
    }
    main h1{
        font-size: 1.7rem;
    }
    main section h2{
        font-size: .9rem;
    }
    section.subsection{
        flex-direction: column;
        height: 100%;
    }
    section.text-section section.subsection{
        max-height: 100%;
    }
    section.subsection h3{
        font-size: .8rem;
    }
    section.subsection .subsection-list{
        font-size: .7rem;
    }
    .subsection-title p{
        font-size: .75rem;
        padding-bottom: .5rem;
    }
    section.text-section section.subsection:first-child{
        margin-bottom: 1rem;
    }
    section.subsection .subsection-title{
        width: 100%;
        row-gap: 0;
    }
    section.subsection .subsection-list{
        padding-top: .5rem;
        width: 100%;
    }
    .subsection-content .subsection-content-desc{
        width: 100%;
    }
    section.subsection .subsection-content{
        flex-direction: column;
        width: 100%;
    }
    section.subsection h3{
        width: 100%;
        padding-bottom: .5rem;
    }
    .subsection-content .img{
        width: 100%;
        height: 15vh;
    }
    header a{
        padding: 0;
        padding-left: 4px;
        padding-right: 4px;
    }
    footer{
        width: calc(100% - 2rem);
        margin-left: 1rem;
        margin-right: 1rem;
    }
    footer .copyright{
        font-size: .6rem;
    }
    footer .display-section button{
        height: 1.5rem;
        font-size: .7rem;
    }
    .contact-info{
        display: none;
    }
    .contact-info-movil{
        display: flex;
        flex-direction: row;
        align-items: center;
        column-gap: .5rem;
        padding-top: 1rem;
    }
    .contact-info-movil a{
        color: var(--link-color);
    }
}
@media only screen and (max-width: 600px) and (orientation: landscape){
    .subsection-content .img{
        height: 40vh;
    }
}
@media only screen and (min-width: 600px) and (max-width: 992px){
    section.subsection .subsection-title{
        font-size: 1rem;
        width: 40%;
    }
    section.subsection h3{
        font-size: 1rem;
    }
    section.subsection .subsection-title p{
        font-size: .8rem;
    }
    section.subsection .subsection-list{
        font-size: .9rem;
        width: 60%;
    }
    section.subsection .subsection-content{
        flex-direction: column;
        width: 100%;
    }
    .subsection-content .img{
        width: 100%;
        height: 20vh;
    }
    .subsection-content .subsection-content-desc{
        width: 100%
    }
}
@media only screen and (min-width: 992px) and (max-width: 1200px){
    section.subsection .subsection-title{
        font-size: 1rem;
    }
    section.subsection h3{
        font-size: 1.1rem;
    }
    section.subsection .subsection-title p{
        font-size: .8rem;
    }
    section.subsection .subsection-list{
        font-size: .9rem;
    }
}