@font-face{
    font-family: 'Neue Montreal';
    src: url('assets/fonts/NeueMontreal-Light.otf');
    font-weight: 100;
    font-style: normal;
}
@font-face{
    font-family: 'Neue Montreal';
    src: url('assets/fonts/NeueMontreal-LightItalic.otf');
    font-weight: 100;
    font-style: italic;
}
@font-face{
    font-family: 'Neue Montreal';
    src: url('assets/fonts/NeueMontreal-Regular.otf');
    font-weight: 200;
    font-style: normal;
}
@font-face{
    font-family: 'Neue Montreal';
    src: url('assets/fonts/NeueMontreal-Italic.otf');
    font-weight: 200;
    font-style: italic;
}
@font-face{
    font-family: 'Neue Montreal';
    src: url('assets/fonts/NeueMontreal-Medium.otf');
    font-weight: 300;
    font-style: normal;
}
@font-face{
    font-family: 'Neue Montreal';
    src: url('assets/fonts/NeueMontreal-MediumItalic.otf');
    font-weight: 300;
    font-style: italic;
}
@font-face{
    font-family: 'Neue Montreal';
    src: url('assets/fonts/NeueMontreal-Bold.otf');
    font-weight: 400;
    font-style: normal;
}
@font-face{
    font-family: 'Neue Montreal';
    src: url('assets/fonts/NeueMontreal-BoldItalic.otf');
    font-weight: 400;
    font-style: italic;
}
:root{
    color-scheme: light dark;
    --bg-color: #e6e6e6;
    --text-color: #0c0c0c;
}
[data-theme="dark"]{
    --bg-color: #0c0c0c;
    --text-color: #e6e6e6;
}
[data-theme="light"]{
    --bg-color: #e6e6e6;
    --text-color: #0c0c0c;
}
*{  
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
::selection{
    background-color: #555;
    color: #e6e6e6;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: 'Neue Montreal';
    background-color: var(--bg-color);
    color: var(--text-color);
    border-color: var(--text-color);
    transition: background-color 200ms ease, color 200ms ease;
}
body.monospace{
    font-family: 'Monospace';
}
main{
    margin: 2rem;
    margin-bottom: 0;
    padding: 2rem;
    min-height: calc(100vh - 4rem);
    height: max-content;
    border-top: 1px solid;
    border-left: 1px solid;
    border-right: 1px solid;
    border-color: var(--text-color);
    overflow-x: hidden;
}
.top{
    position: fixed;
    top: 0;
    width: 100%;
    height: 2rem;
    background-color: var(--bg-color);
}
.left{
    position: fixed;
    width: 2rem;
    top: 0;
    left: 0;
    height: 100vh;
    background-color: var(--bg-color);
}
.right{
    position: fixed;
    width: 2rem;
    top: 0;
    right: 0;
    height: 100vh;
    background-color: var(--bg-color);
}
.bg {
  position: fixed;
  top: -50%;
  left: -50%;
  right: -50%;
  bottom: -50%;
  width: 200%;
  height: 200vh;
  margin: 2rem;
  z-index: -1;
  background: transparent url('http://assets.iceable.com/img/noise-transparent.png') repeat 0 0;
  background-repeat: repeat;
  animation: bg-animation .2s infinite;
  opacity: .9;
  visibility: visible;
}
@keyframes bg-animation {
    0% { transform: translate(0,0) }
    10% { transform: translate(-5%,-5%) }
    20% { transform: translate(-10%,5%) }
    30% { transform: translate(5%,-10%) }
    40% { transform: translate(-5%,15%) }
    50% { transform: translate(-10%,5%) }
    60% { transform: translate(15%,0) }
    70% { transform: translate(0,10%) }
    80% { transform: translate(-15%,0) }
    90% { transform: translate(10%,5%) }
    100% { transform: translate(5%,0) }
}

li{
    list-style: none;
}
main h1{
    font-size: 4rem;
    font-weight: 200;
}
main h2{
    font-size: 1rem;
    font-weight: 200;
}
main .heading{
    margin-bottom: 1rem;
}
section{
    border-top: 1px solid;
    border-color: var(--text-color);
    display: flex;
    flex-direction: row;
    padding-top: 1rem;
}
section h2{
    text-transform: capitalize;
    width: 20%;
    font-size: 1.2rem;
    font-weight: 300;
    height: fit-content;
    padding-bottom: 1rem;
}
section h2 i{
    display: inline-block;
    transform: rotate(-90deg);
    transition: transform 200ms ease;
}
section h2 i.rotated{
    transform: rotate(0deg);
}
h2:hover{
    text-decoration: underline;
}
section .section-content{
    width: 80%;
    flex-direction: column-reverse;
    row-gap: 1rem;
    display: flex;
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    transition: max-height 800ms ease-out, opacity 600ms ease;
}
section #projects-section.display{
    opacity: 1;
    max-height: 100vh;
    transition: max-height 800ms ease-in, opacity 200ms ease;   
}
section #work-section.display{
    opacity: 1;
    max-height: 100vh;
    transition: max-height 800ms ease-in, opacity 200ms ease;   
}
section #skills-section.display{
    opacity: 1;
    max-height: 100vh;
    transition: max-height 800ms ease-in, opacity 200ms ease;   
}
section #education-section.display{
    opacity: 1;
    max-height: 100vh;
    transition: max-height 800ms ease-in, opacity 200ms ease;   
}
section.subsection{
    border: none;
    padding: 0;
    display: flex;
    flex-direction: row;
    height: 15rem;
    padding-bottom: 2rem;
    border-bottom: 1px solid;
    border-color: var(--text-color);
}
section.text-section section.subsection{
    padding-bottom: 0;
    height: fit-content;
    max-height: 12rem;
}
section.text-section section.subsection:first-child{
    margin-bottom: 2rem;
}
section.subsection h3{
    text-transform: capitalize;
    font-size: 1.2rem;
    font-weight: 300;
    width: 25%;
    height: fit-content;
}
section.subsection h3:hover{
    text-decoration: underline;
}
section.subsection .subsection-title{
    text-transform: capitalize;
    font-size: 1.2rem;
    font-weight: 300;
    width: 25%;
    display: flex;
    flex-direction: column;
    row-gap: .5rem;
}
section.subsection .subsection-title h3{
    width: 100%;
}
.subsection-title p{
    font-size: .9rem;
    opacity: .5;
}
section.subsection .subsection-list{
    display: flex;
    flex-direction: column;
    font-weight: 200;
    width: 75%;
    font-size: 1.2rem;
    flex-wrap: wrap;
    text-transform: capitalize;
}
.subsection-list li{
    padding-bottom: .5rem;
}
section.subsection .subsection-content{
    display: flex;
    flex-direction: row;
    border: 1px solid;
    border-color: var(--text-color);
    border-radius: 5px;
    width: 75%;
}
section.subsection:nth-child(1){
    border-bottom: none;
}
.subsection-content .img{
    height: 100%;
    width: 30rem;
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    background-clip:border-box;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    filter: brightness(80%);
    transition: all 200ms ease-in-out;
}
.subsection-content .img:hover{
    filter: brightness(100%);
}
.subsection-content .subsection-content-desc{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.subsection-content p{
    padding: 1rem;
    font-size: .9rem;
    font-weight: 200;
}
footer{
    position: fixed;
    bottom: 0;
    left: 0;
    width: calc(100% - 4rem);
    padding-top: .5rem;
    padding-bottom: .5rem;
    margin-left: 2rem;
    margin-right: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: var(--bg-color);
    border-top: 1px solid;
    border-color: var(--text-color);
}
footer .copyright{
    font-size: 0.8rem;
    opacity: .5;
}
footer .display-section button{
    text-transform: uppercase;
    font-weight: 300;
    font-size: 1rem;
    padding: 0.2rem;
    padding-left: 0.6rem;
    padding-right: 0.6rem;
    outline: none;
    height: 1.8rem;
    border: 1px solid #000;
    border-radius: 0;
    transition: all 1000 ease-in-out;
}
footer .display-section #light-mode{
    color: #000;
    background-color: #b1b1b1;
}
footer .display-section #light-mode:hover{
    background-color: #fff;
}
footer .display-section #light-mode.active{
    background-color: #fff;
}
footer .display-section #dark-mode{
    color: white;
    background-color: #474747;
}
footer .display-section #dark-mode:hover{
    background-color: #0D0D0D;
}
footer .display-section #dark-mode.active{
    background-color: #000;
}
footer .display-section #monospace{
    background-color: #000;
    color: #fff;
    font-family: monospace;
    font-weight: 600;
}
footer .display-section #monospace.active{
    background-color: #fff;
    color: #000;
}